.payment {
    color: rgb(218, 0, 181);
}

.bg {
    background-image: conic-gradient(rgb(1, 66, 187), rgb(255, 55, 222), rgb(3, 167, 196));
    text-shadow: 0px 2px 2px black;
}

.contactbg {
    background: linear-gradient(to top,#31052a, #1b042c);
}

.border {
    border: 0.5px solid #ff6a00;
}