.payment{
  color: rgb(218, 0, 181);
}

.whybg {
  background: linear-gradient(to top, #1b042c 0%, #31052a);
}


  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-rotate-border {
    filter: blur(30px);
    opacity: 0.7;
  }
  